button { /* CSS reference for button component in contact.form.component.html */
    margin:auto;
    display:block;
  }
  label { /* CSS reference for all headers used in home.component.html */
    font-weight: 700;
    }